* {
  font-family: Karla;
  line-height: 1rem;
}
.scoreboard-container {
  background: hsl(278, 38%, 43%);
  position: relative;
  width: 12rem;
  height: 12rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  float: left;
}
.scoreboard-main {
  width: 10.5rem;
  height: 10.5rem;
  background: hsl(0, 3%, 93%);
  border-radius: 1rem;
}
.scoreboard-title {
  display: flex;
  justify-content: center;
}
.scoreboard-stats {
  margin-left: 0.2rem;
  font-size: 0.75rem;
}
